[Unit]
Description=LoRa Base Station Web Server
After=network.target

[Service]
Type=simple
ExecStart=/home/jbaldwin/RPi-LoraNetwork/base_station_rpi/web/venv/bin/python /home/jbaldwin/RPi-LoraNetwork/base_station_rpi/web/server.py
WorkingDirectory=/home/jbaldwin/RPi-LoraNetwork/base_station_rpi
Restart=on-failure
RestartSec=5
Environment=PORT=8080

[Install]
WantedBy=multi-user.target
